---
import type SectionProps from '@/types/props/section';
const { Icon, iconProps } = Astro.props as SectionProps;
---

<section>
  <div class="mb-2">
    <Icon {...iconProps} />
    <slot name="title" />
  </div>
  <slot name="content" />
</section>
