---
import Layout from '@/layouts/Layout.astro';

import profileImg from '@/assets/profile.jpg';
import Avatar from '@/components/media/Avatar.astro';
import Section from '@/components/sections/Section.astro';
import MaterialIcon from '@/components/ui/MaterialIcon.astro';
---

<Layout>
  <div class="max-w-[960px] mx-auto">
    <div class="flex flex-row">
      <div class="basis-1/3">
        <Avatar src={profileImg.src} />
      </div>
      <div class="basis-2/3">
        <h1 class="text-3xl font-bold underline">Astro</h1>
      </div>
    </div>
  </div>
</Layout>
