---
import type AvatarProps from '@/types/props/avatar';

const { src, alt = "Avatar" } = Astro.props as AvatarProps;
---

<div class="w-[150px] h-[150px] mx-auto overflow-hidden rounded-full shadow-md">
  <img 
    src={src} 
    alt={alt} 
    class="w-full h-full object-cover object-[center_20%]" 
  />
</div>
