---
import type MaterialIconProps from '@/types/props/material-icon';
import { IconType } from '@/types/enums/material-icon';
const props = Astro.props as MaterialIconProps;

// Set classes for color, type and highlight.
const colorClass = "text-black";
const typeClass = props.type === IconType.MaterialSymbolsOutlined 
  ? 'material-symbols-outlined' 
  : 'material-icons';
const highlightClass = props.isHighlighted ? 'bg-gray-200 rounded-md p-1' : '';
---

<span 
  class={`${colorClass} ${typeClass} ${highlightClass}`}
  style={`font-size: ${props.size ? props.size + 'px' : '0.75rem'}`}
>
  {props.icon}
</span>
